In [0]:
CREATE SCHEMA IF NOT EXISTS learning_pradeep.spark_exe;

In [0]:
CREATE OR REPLACE TABLE learning_pradeep.spark_exe.customers (
    customer_id INT,
    customer_name STRING,
    country STRING
);

INSERT INTO learning_pradeep.spark_exe.customers VALUES
(1, 'John Doe', 'USA'),
(2, 'Emma Stone', 'USA'),
(3, 'Rahul Kumar', 'India'),
(4, NULL, 'UK'),                          -- null name
(5, 'Mia Wong', NULL),                     -- null country
(6, 'Duplicate Guy', 'USA'),
(6, 'Duplicate Guy', 'USA'),               -- duplicate
(7, 'No Order Customer', 'Canada');        -- will never have orders

In [0]:
CREATE OR REPLACE TABLE learning_pradeep.spark_exe.products (
    product_id INT,
    product_name STRING,
    category STRING
);

INSERT INTO learning_pradeep.spark_exe.products VALUES
(101, 'iPhone', 'Electronics'),
(102, 'Laptop', 'Electronics'),
(103, 'Shoes', 'Fashion'),
(104, 'Watch', NULL),                 -- null category
(105, 'Headphones', 'Electronics'),
(106, 'Never Sold Product', 'Fashion'), -- no order mapping
(103, 'Shoes', 'Fashion');            -- duplicate

In [0]:
CREATE OR REPLACE TABLE learning_pradeep.spark_exe.orders (
    order_id INT,
    customer_id INT,
    product_id INT,
    amount DECIMAL(10,2),
    order_date DATE
);

INSERT INTO learning_pradeep.spark_exe.orders VALUES
(1001, 1, 101, 50000, '2024-01-10'),
(1002, 1, 102, 75000, '2024-02-11'),
(1003, 2, 103, 3000,  '2024-03-05'),
(1004, 3, 104, 7000,  '2024-03-15'),
(1005, 3, NULL, 9000, '2024-04-01'),     -- null product
(1006, NULL, 102, 4500, '2024-04-10'),   -- null customer
(1007, 99, 101, 2000, '2024-05-01'),     -- customer doesn't exist
(1008, 1, 999, 1000, '2024-06-01'),      -- product doesn't exist
(1009, 2, 103, 3000, '2024-06-05'),
(1009, 2, 103, 3000, '2024-06-05');      -- duplicate order